<% content_for :page_title, "Sign In" %>

<div class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="field">
            <div class="control">
              <label class="label">Email</label>
              <%= f.email_field :email, required: true, autofocus: true, input_html: { autocomplete: "email" }, class: "input" %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label class="label">Password</label>
              <%= f.password_field :password, required: true,
              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" }, class: "input" %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <%= f.check_box :remember_me  %>
                Remember Me</label>
            </div>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign In" %>
          </div>
          <br />

          <%= render "devise/shared/links" %>

        <% end %>
      </div>
    </div>  
  </div>
</div>
